* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
Tenemos fondo negro por defecto, fuente arial
y una altura que cubra el contenido */
body {
    height: min-content;
    font-family:Arial, Helvetica, sans-serif;
    background-color:black;

}

/*El header tiene fondo amarillo y color gris para la letra
con alineación al centro */
header {
    padding-top: 30px;
    text-align: center;
    height: 100px;
    background-color:rgb(239, 229, 85);
    color: rgb(148, 147, 152);
}

/* ------------------- NAVEGADOR ------------------- */
/*Para el nav tenemos invertidos los colores del header */
nav{
    text-align: center;
    width: 100%;
    background-color: rgb(144, 149, 151);
    color:rgb(239, 229, 85);
}

/* Para la lista tenemos un flex row */
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

/*Cada elemento li ocupará un 25%*/
nav li {
    width: 25%;
}

/*Ponemos los links en amarillo sin decorado para los links*/
nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(239, 229, 85);
}

nav a:hover {
    color:rgb(144, 149, 151);
    background-color:rgb(239, 229, 85);
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        width: 100%;
    }
}


/* ------------------- tablas ID PROFESORES / CICLOS ------------------- */
/* Estableceremos ancho máximo en profes y cursos */
#profes {
    max-width: 600px;
}

#cursos{
    max-width: 700px;
}

/*Ponemos los links en amarillo sin decorado para los links*/
#cursos a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(239, 229, 85);
}

#cursos a:hover {
    color: rgb(148, 143, 69);
}

/* El título de la tabla será amarillo, y le daremos
estilo custom a la fuente, así como padding-bottom */
caption {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 5px;
    color:rgb(239, 229, 85);
    text-align: center;
}

/* Tenemos margen vertical de 2 rem y horizontal automático */
table{
    color: rgb(222, 219, 181);
    margin: 2rem auto;
    text-align: center;
    width: 50%;
}

/* Padding vertical de 5 px para los td/th */
th, td {
    padding: 5px 0;
}

thead {
    font-weight: 400;
    background-color: rgb(65, 64, 65);
    color:rgb(239, 229, 85);
}

tbody tr:nth-child(odd){

    background-color: rgb(148, 147, 152);
}

tbody tr:nth-child(even) {
    background-color:rgb(113, 113, 114);
}


/* ------------------- EQUIPO DIRECTIVO ------------------- */
section {
    color:rgb(239, 229, 85);
}

/* Haremos un flex colum del equipo directivo */
#direccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#direccion article {
    margin-top: 15px;
    margin-bottom: 15px;
}

#direccion ul{
    /* Eliminamos los puntos de la lista */
    list-style: none;
}

#direccion li{
    /* Identamos los textos de cada elemento li */
    text-indent: 20px;
}



/* ------------------- FORMULARIO ------------------- */
/*Quitamos el border del fieldset */
fieldset{
    border:none;
}

legend, fieldset label{
    margin:0.2rem 0.5rem;
}

/*Tenemos width del 80% con margen vertical de 3 rem y automático
para horizontal. Añadiremos un shadow y un border-radius */
form{
    max-width: 700px;
    margin: 3rem auto;
    width:80%;
    box-shadow: 0px 0px 20px rgb(71, 71, 71);
    background-color: rgb(222, 219, 181);
    border-radius: .1rem;
}

/* El h2 de leyenda tiene padding izquierdo e inferior, con
fuente customizada en tamaño y grosor */
legend h2 {
    font-size: 22px;
    font-weight: 900;
    padding-bottom: 20px;
    padding-left: 5px;
    color:black;
    text-align: center;
}

/* Los h3 tienen estas customizaciones, pero con la letra más pequeña
y con menos peso */
form h3 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    color:black
}

label {
    font-size: 20px;
    font-weight: 700;
    color: black
}

.datos-per {
    padding: 20px;
}

/*Ponemos borde inferior en los input de texto
y email, del gris usado con anterioridad,
además de establecer width, heigh, padding y margin
superior e inferior*/
input[type="text"],
input[type="email"] {
    font-size: 16px;
    width: 100%;
    height: 25px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: rgb(222, 219, 181);
    border: 0px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(148, 147, 152);
}

input[name="observaciones"] {
    width: 100%;
}

/*Tendremos invertidos los colores en los botones submit
y reset --> amarillo el de enviar que se vuelve gris
y viceversa*/
input[type="reset"],
input[type="submit"]:hover {
    background-color:rgb(148, 147, 152);
    font-size: 1.2rem;
    font-weight: 500;
    color:rgb(239, 229, 85);
}

input[type="reset"]:hover,
input[type="submit"] {
    background-color:rgb(239, 229, 85);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    color: rgb(148, 147, 152);
}

.checkbox, .textarea {
    padding-left: 5px;
    padding-bottom: 40px;
    text-align: center;
}
/*Tenemos un flex en el div de checkbox y en el de textarea */
.checkbox div, .textarea div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input[type="checkbox"] {
    margin-top: 5%;
    margin-right: 5px;
}

#cursosCheckbox label{
    margin: 0;
    padding-left: 5px;
    padding-right: 15px;
}

/*Tenemos padding en el textarea, para evitar que el texto
se pegue a los extremos de la caja */
textarea {
    padding: 10px;
    font-size: 16px;
    width: 90%;
    resize: none;
    background-color: rgb(148, 147, 152, 0.3);
    border: 0;
}

textarea::placeholder {
    font-size: 0.8rem;
    font-weight: 500;
    color:rgb(72, 72, 72);
}

/*Eliminamos los bordes de los botones */
.boton{
    margin: 0.5rem;
    padding:0.4rem;
    cursor: pointer;
    border: 0;
}
/* Hacemos un flex row con los botones de enviar-resetar */
.submit-reset {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ------------------- BOTÓN VOLVER ------------------- */

.volver{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.volver button {
    border: 0;
    color:rgb(65, 64, 65);
    padding: 5px;
    width: 50px;
    font-style: oblique;
    font-weight: bold;
    background-color:rgb(239, 229, 85);
    cursor: pointer;
}

/* ------------------- FOOTER ------------------- */
/* Alineamos al centro, ponemos height fija
y establecemos colores */
footer {
    height: 50px;
    text-decoration: none;
    text-align: center;
    align-content: center;
    background-color:rgb(239, 229, 85);
    color: rgb(148, 147, 152);
}

/* Eliminamos los puntos de la lista del footer */
footer ul{
    list-style: none;
}

/* Hacemos inline-block para cada elemento del footer */
footer li{
    display: inline-block;
    margin-right: 25px;
    margin-top: 15px;
}

/* Eliminamos la decoración de enlaces y ponemos margin inferior */
footer a{
    margin-bottom: 15px;
    color: rgb(148, 147, 152);
    text-decoration: none;
}

/* Al hacer hover sobre los enlaces se volverán negros */
footer a:hover {
    color: black;
}